
.line-0{
line-height: 1;
}
.line-1{
    line-height: 1.1;
}
.line-2{

    line-height: 1.125;
}
.line-3{
    line-height: 1.3;
}
.line-4{
    line-height: 1.33;
}
.line-5{
    line-height: 1.4;
}

.fonte-1{
    font-size: 0.875rem;
}

.fonte-2{
    font-size: 1.125rem;
}

.fonte-3{
    font-size: 1.25rem;
}
.fonte-4{
    font-size: 1.5rem;
}
.fonte-5{
    font-size: 4.5rem;
}



